<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="thymeleaf/tc17layout :: headerFragment">
</head>

<body class="tundra spring">
	<div id="headline" th:include="thymeleaf/tc17layout :: headline">rg:headline</div>
<div id="content">
	<h1 class="newstitle">
		<img th:src="@{/resources/images/Open16.gif}" /> <span
			th:text="${folderT.mtlO.folder }" />
	</h1>
	<div>Subfolders: <span th:each="subFolderT:${folderT.childTs }"
			th:if="${subFolderT.folder}"> <img
			th:src="@{/resources/images/Open16.gif}" /> <a
			th:text="${subFolderT.mtlO.folder}"
			th:href="@{'/tfolder='+${subFolderT.id}}" />
		</span>
		<div class="newstitle" />
	</div>
	<p th:each="docT:${folderT.childTs }">
		<div th:if="${docT.concept}">
			<div class="conceptContent">
				<a th:text="${docT.mtlO.protocol}"
					th:href="@{'/study-sg'+'='+${docT.id}}" />
			</div>
			<span th:each="regimeT:${conceptRegime.get(docT)}">
				<span th:text="${regimeTStat.count>1?', ':''}">, </span>
				<span class="regimeContent">
				<a th:text="${regimeT.taskO.task}"
					th:href="@{'/cere-ed'+'='+${regimeT.id}}" />
				</span>
			</span>
		</div>
	</p>
</div>
	<div id="sidebar">sidebar</div>
</body>
</html>
